*{
    margin: 0 ;
    padding: 0;
}
a{
    text-decoration:none;
}
.wrapper{
    width: 1000px;
    height: 145px;
    margin:0 auto;
    background: url(imgs/banner-bg.jpg) no-repeat;
    background-size: 1000px;
}

.button-box-left{
    margin-left: 20px;
    padding-top: 100px;
}
.button-box-left button{
    width:102px ;
    height: 36px;
    background-image: url(imgs/button-bg.jpg);
    background-size:cover;
    margin-right: 25px;
    border-radius: 5px;
    border:none;
    box-shadow: 2px 2px 1px #000;
}
.button-box-left a{
    font-size: 17px;
    font-weight:700;
    color:rgb(99, 2, 15);
}
.button-box-right{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
.button-box-right button{
    height: 20px;
    background-image: url(imgs/button-bg.jpg);
    background-size:cover;
    margin-right: 15px;
    margin-top: 5px;
    border-radius: 5px;
    border:none;
    box-shadow: 2px 2px 1px #000;

}
.button-box-right a{
    font-size: 10px;
    font-weight:700;
    color:rgb(99, 2, 15);
}
