.iconfont{
    font-size: 40px;
    color:#ff0036;
}
.icon-a{
    font-size: 11px;
    color:rgb(53, 51, 51);
    display: block;
    float: left;
    width:50px;
    margin-left:20px;
    margin-top:20px;
    
}