*{
    margin: 0;
    padding: 0;
}
ul{
    color: rgb(87, 85, 85);
    /* list-style: none; */
}
body {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
    font-size: 14px;
    min-width: 1200px;
    background: #ffffff;
}
#homepage{
    height: 1000px;
    width: 1000px;
    margin: auto;
    background:url(../../image/common_img/bg.jpg) no-repeat;
    border: 1px #6f0010 solid;

}
 .theme1 .img1{
    height: 280px;
    width: 1000px;
    margin: auto;
    /* background: red; */
} 
/* #homepage .box_1{
    width: 102px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-right: 25px;
    border-radius: 5px;
    background-image:url(../../image/common_img/button-bg.jpg);
    border:none;
    box-shadow: 2px 2px 1px rgb(34, 30, 30);
} */
.list-mian{
    width: 1200px;
    /* margin: 15px auto; */
    height: auto;
    overflow: hidden;
}
.list-main-left{
    margin: 5px;
    float: left;
    width: 300px;
    min-height: 600px;
    border-radius: 8px;
    border-top: #6f0010 3px solid;
    border-left: #e5e5e5 1.5px solid;
    border-right: #e5e5e5 1.5px solid;
    border-bottom: #e5e5e5 1.5px solid;
}
.this-lmname h4{
    width: 300px;
    height: 30px;
    line-height: 10px;
    text-align: center;
    font-size: 17px;
    background: #941515;
    color: white;
    margin-bottom: 5px;
    padding: 15px 0 0 0.5px;
    position: relative;
    /* display: inline-block;
    vertical-align:middle;
    text-align:center;
    font-size: 17px;
    font-weight:600;
    color:rgb(99, 2, 15); */
}
.list-sub{
    width: 300px;
    height: auto;
    overflow: hidden;
    margin-top: 1px;
}

ul, li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    display: list-item;
    text-align: -webkit-match-parent;
}
.list-sub li{
    height: 43px;
    width: 300px;
    overflow: hidden;
}
.list-sub li a{
    height: 42px;
    line-height: 42px;
    width: 300px;
    display: block;
    background: #fcfafa;
    border-bottom: #941515 1px solid;
    padding: 10px;
}
a{
    text-decoration:none;
    color: #666666;
}

/* .clearfix:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
} */
/* .box_2 li{
    list-style: none;
    
} */
/* .box_2 li a{
    width: 200px;
    height: 30px;
    line-height: 50px;
    display: block;
    background: url(../../image/common_img/bg.jpg);
    border-bottom: #585353 1px solid;
    color: #6f0010;
    font-weight:600;
    font-family:"微软雅黑";
    font-size: 15px;
    margin-left: 25px;
    border-radius: 5px;
    box-shadow: 2px 2px 1px rgb(34, 30, 30);

} */
.list-sub li a:hover{
    /* line-height: 40px; */
    background: #e2dcdc;
    color: #6f0010;
}

.list-main-right {
    /* display: flex; */
    margin: 5px;
    float:right;
    width: 570px;
    border-top: #6f0010 3px solid;
    border-left: #e5e5e5 1.5px solid;
    border-right: #e5e5e5 1.5px solid;
    border-bottom: #e5e5e5 1.5px solid;
    border-radius: 8px;
    min-height: 600px;
    padding: 0 40px;
    background: #fcfcfc;
    overflow: hidden;
}
.list-main-right .lm_name{
    background: #faf6f6;
    height: 50px;
    line-height: 50px;
}
.list-main-right .lm_name h2{
    float: left;
    width: 380px;
    font-size: 18px;
    color: #333333;
    font-weight: bold;
}
.list-main-right .lm_name span{
    float: right;
    color: #666666;
    font-size: 14px;
}
.list-main-right .lm_name span a{
    color: #666666;
}
/* .lm_name-clearfix {
    color: #6f0010;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 30px;
} */

.fy-list{
    height: auto;
    overflow: hidden;
    margin: 5px auto;
    padding: 10px 5px;
    color: rgb(163, 160, 160);
}
.fy-list li{
    line-height: 40px;
    /* background: #faf6f6; */
    font-size: 14px;
    color: #999999 left center no-repeat;
    padding-left: 2px;
    border-bottom: #dcdcdc 1px dotted;
    text-align: right;
}
.fy-list li a{
    color: #666666;
    float: left;
}
.fy-list ul li u{
    width: 15px;
    height: 11px;
    display: inline-block;
    background: url(../../../image/common_img/sprite.jpg);
    background-position: -180px 0;
}
.fy-list ul li a:hover{
    color: #6f0010;
    text-decoration: underline;
}
div{
    display: block;
}



/* #theme .img1{
    width: 1000px;
    height: 145px;
    display: block;
}