/* *{
    margin: 0;
    padding: 0;
} */
#homepage{
    height: 1000px;
    width: 1000px;
    margin: auto;
    background:url(../../image/common_img/3.jpg) no-repeat;
    border: 1px #6f0010 solid;

}
 #theme .img1{
    height: 300px;
    width: 1000px;
    margin: auto;
    /* background: red; */
} 
/* #theme .img1{
    width: 1000px;
    height: 145px;
    display: block;
}