*{
    margin: 0;
    padding: 0;
}
body{
    background: url(../../image/common_img/wrapBg.jpg) no-repeat ;
    background-size:100% 50%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

.content-container{
    width: 1000px;
    height: 750px;
    margin: 0 auto;
    border: 1px solid #dfdfdf;
}
img{
    width: 1000px;
    margin-top: -1px;
}
.list-menu {
    width: 225px;
    height: 100%;
    margin-left: 20px;
    float: left;
    margin-top: 10px;
    border: 1px solid #dfdfdf;
}
.box_hd{
    background: #941515;
    width: 225px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    color: white;
    
    margin-bottom: 5px;
    position: relative;
}
.box_hd h4{
    margin-left: 5px;
}
.box_bd li{
    width: 200px;
    height: 30px;
    line-height: 30px;
    color: black;
    font-size: 15px;
    padding-left: 20px;
}
.box_bd li a{
    color: black;
}
.box_bd li:hover{
    background: #969696;
    color:#bd2828;
}
.list-content{
    width: 720px;
    float: left;
    margin-left: 5px;
}
.list-crumb{
    color: #969696;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    border-bottom: 1px solid #dfdfdf;
    margin-top: 2px;
    margin-bottom: 10px;
}
.list-crumb a{
    color: #969696;
}
.list-style{
    margin: 0 10px;
    color: black;
}
.list-style ul li{
    border-bottom: 1px dashed #dfdfdf;
}
.list-style ul li a{
    height: 30px;
    line-height: 30px;
    color: black;
}
.list-style ul li em{
    float: right;
    color: black;
}
.list-style ul li u{
    width: 14px;
    height: 11px;
    display: inline-block;
    background: url(../../image/common_img/sprite.jpg);
    background-position: -180px 0;
}
.list-style ul li a:hover{
    text-decoration: underline;
}
