*{
    margin: 0;
    padding: 0;
}
ul{
    color: rgb(87, 85, 85);
    /* list-style: none; */
}
body {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
    font-size: 14px;
    min-width: 1200px;
    background: #ffffff;
}
#homepage{
    height: 1000px;
    width: 1000px;
    margin: auto;
    background:url(../../image/common_img/bg.jpg) no-repeat;
    border: 1px #6f0010 solid;

}
 .theme1 .img1{
    height: 280px;
    width: 1000px;
    margin: auto;
    /* background: red; */
} 

.list-mian{
    width: 1200px;
    /* margin: 15px auto; */
    height: auto;
    overflow: hidden;
}
.list-main-left{
    margin: 5px;
    float: left;
    width: 300px;
    min-height: 600px;
    border-radius: 8px;
    border-top: #6f0010 3px solid;
    border-left: #e5e5e5 1.5px solid;
    border-right: #e5e5e5 1.5px solid;
    border-bottom: #e5e5e5 1.5px solid;
}
.this-lmname h4{
    width: 300px;
    height: 30px;
    line-height: 10px;
    text-align: center;
    font-size: 17px;
    background: #941515;
    color: white;
    margin-bottom: 5px;
    padding: 15px 0 0 0.5px;
    position: relative;
   
}
.list-sub{
    width: 300px;
    height: auto;
    overflow: hidden;
    margin-top: 1px;
}

ul, li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    display: list-item;
    text-align: -webkit-match-parent;
}
.list-sub li{
    height: 43px;
    width: 300px;
    overflow: hidden;
}
.list-sub li a{
    height: 42px;
    line-height: 42px;
    width: 300px;
    display: block;
    background: #fcfafa;
    border-bottom: #e4e1e1 1px solid;
    padding-left: 25px;
}
a{
    text-decoration:none;
    color: #666666;
}


.list-sub li a:hover{
    /* line-height: 40px; */
    background: #e2dcdc;
    color: #6f0010;
}

.list-main-right {
    /* display: flex; */
    margin: 5px;
    float:right;
    width: 590px;
    border-top: #6f0010 3px solid;
    border-left: #e5e5e5 1.5px solid;
    border-right: #e5e5e5 1.5px solid;
    border-bottom: #e5e5e5 1.5px solid;
    border-radius: 8px;
    min-height: 600px;
    padding: 0 40px;
    background: #fcfcfc;
    overflow: hidden;
}
.list-main-right .lm_name{
    background: #faf6f6;
    height: 50px;
    line-height: 50px;
}
.list-main-right .lm_name h2{
    float: left;
    width: 400px;
    font-size: 18px;
    color: #333333;
    font-weight: bold;
    padding-left: 100px;
}
.list-main-right .lm_name span{
    float: right;
    color: #666666;
    font-size: 14px;
}
.list-main-right .lm_name span a{
    color: #666666;
}


.fy-list{
    height: auto;
    overflow: hidden;
    margin: 5px auto;
    padding: 10px 5px;
    color: rgb(163, 160, 160);
}
.fy-list h2{
    color: rgb(58, 54, 54);
}


.fy-list ul li a:hover{
    color: #68000e;
    text-decoration: underline;
}
div{
    display: block;
}



